.form-group {
	// margin: 0 0 15px;
	position: relative;
	// padding: 20px 0 0;
	&__label {
		font: 900 20px/1 $baseFF;
		color: $black;
		margin-bottom: 10px;
	}

	@include media($xs) {
		&__label {
		}
	}
}

.error-message {
	color: $red;
}

.form-control {
	border: 1px solid $black;
	padding: 15px 20px;
	font: 16px/18px $baseFF;
	background: $white;
	color: $black;
	display: block;
	width: 100%;
	border-radius: 0;

	&.is-error {
		border-color: $red !important;
	}

	&::-webkit-input-placeholder {
		opacity: 1;
		color: $gray;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: $gray;
	}

	&:focus {
		outline: none; /* border-color: $gray-devider; background: $gray-devider;  */
	}

	@include media($xs) {
		//padding: 8px 16px;
		//font-size: 16px;
	}
}

textarea {
	resize: none;
	//border: 0;
	&:focus {
		box-shadow: none;
		outline: none;
	}
	&::-webkit-input-placeholder {
		opacity: 1;
		color: $gray;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: $gray;
	}
}

textarea.form-control {
	height: 120px;
}
