.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_arrow-down {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon_cart {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_close {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_close2 {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_edit {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_fb {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon_instagram {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon_list {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_menu {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_more {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon_search {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon_slider-arrow-right {
  font-size:(82/10)*1rem;
  width:(34/82)*1em;
}
.icon_twitter {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon_user {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_vk {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
.icon_youtube {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
